<nav class="navbar navbar-dark navbar-expand-sm fixed-top">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#Navbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand mr-auto" href="#">
      <img src="img/logo.png" class="img-fluid" height="30" width="41">
    </a>
    <div class="collapse navbar-collapse" id="Navbar">
      <ul class="navbar-nav mr-auto">
        <li id="navitemindex" class="nav-item">
          <a class="nav-link" href="javascript:void(0)" onclick="navlink('index.html'); return false">
            <span class="fa fa-home fa-lg"></span> Home</a></li>
        <li id="navitemaboutus" class="nav-item">
          <a class="nav-link" href="javascript:void(0)" onclick="navlink('aboutus.html'); return false">
            <span class="fa fa-info fa-lg"></span> About</a></li>
        <li id="navitemmenu" class="nav-item">
          <a class="nav-link" href="javascript:void(0)" onclick="navlink(''); return false">
            <span class="fa fa-list fa-lg"></span> Menu</a></li>
        <li id="navitemcontactus" class="nav-item">
          <a class="nav-link" href="javascript:void(0)" onclick="navlink('contactus.html'); return false">
            <span class="fa fa-address-card fa-lg"></span> Contact</a></li>
      </ul>
      <span class="navbar-text">
        <a id="LoginButton" role="button">
        <span class="fa fa-sign-in"></span> Login</a>
      </span>
    </div>
  </div>
</nav>
